.dropdown-menu.show {
    display: flex;
    &:div {
        margin: 1rem;
    }
}


.left-section, .right-section{
    border: 2px solid green;
    padding: 1rem
}

.dropdownHeading {
    padding-left: 0px;
}