// Change the background color on hover for dropdown items
.nav-item.dropdown {
    &:hover {
        .dropdown-menu a.dropdown-item {
            background-color: #007bff;
            color: white;
        }
    }
}

// Change the background color of the dropdown toggle when hovering over the parent item
.nav-item.dropdown:hover .nav-link {
    background-color: #007bff;
    color: white;
}

//making the dropdown items horizontal
/* Horizontal layout for the dropdown menu */
.dropdown-menu.show {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Adjust spacing between dropdown items */
.nav-item.dropdown:hover .dropdown-menu a.dropdown-item {
    margin-right: 10px; /* Adjust the margin as needed */
    text-decoration: dashed;
}
